.page {
    font-size: medium;
}
svg {
    font-size: medium;
}
input {
    font-size: medium;
}
.pagename {
    font-weight: bold;
}
.chat {
    width: 550px;
    height: 6em;
    overflow-y: scroll;
    font-size: large;
}
.chatsizebutton {
    font-weight: bold;
}
.chatsizecolumn {
    text-align: center;
    vertical-align: top;
}
.resigned {
    text-decoration: line-through;
    color: darkgray;
}
table.bordered {
    margin: 0em 0.5em 0.5em 0.5em;
    background: whitesmoke;
    border-collapse: collapse;
}
table.bordered th, table.bordered td {
    border: 1px silver solid;
    padding: 0.2em;
}
table.bordered td {
    text-align: center
}
table.bordered th {
    background: gainsboro;
    text-align: center;
}
table.bordered caption {
  margin-left: inherit;
  margin-right: inherit;
}
